<div class="profile-top">
  <div class="card-body col-4 profile-image" style="background-image: url({{user.image}})">
  </div>
  <div class="card-body col-4">
    <h5 class="card-title">{{user.name}}</h5>
    <p class="card-text">{{user.email}}</p>
    <p class="card-text">共有 <strong>{{count}}</strong> 則評論</p>
    <a href="/users/{{user.id}}/edit" class="btn btn-primary profile-edit">Edit</a>
  </div>
  <div class="card-body col-4 profile-comments">
    {{#each comments}}
    <div class="profile-each-comment">
      <a href="/restaurants/{{this.Restaurant.id}}">
        <span>{{this.Restaurant.name}}</span>
        <span>{{this.text}}</span>
        <footer class="blockquote-footer">{{moment this.createdAt}}</footer>
      </a>
    </div>

    {{/each}}
  </div>
</div>
<div class="card">
  <div class="card-header">
    <strong>{{num}}</strong> 間已評論餐廳
  </div>
  <div class="card-body">
    {{#each rest}}
    <a href="/restaurants/{{this.id}}" class="profile-rest-image">
      <div class="circle-spacer"></div>
      <img src="{{this.image}}" alt="">
      <span>{{this.name}}</span>
    </a>
    {{/each}}
  </div>
</div>