<div class="row" style="background-color: #fff;
    border: 1px solid #E7E7E7;
    border-radius: 5px;">
  <div class="card-body col-3">
    <img src="{{user.image}}" style="width: inherit;" alt="{{user.name}}">
  </div>
  <div class="card-body col-9">
    <h5 class="card-title">{{user.name}}</h5>
    <p class="card-text">{{user.email}}</p>
    <a href="/users/{{user.id}}/edit" class="btn btn-primary">edit</a>
  </div>
</div>