<div class="rest_detail_page">
  <div class="left-col">
    <section class="main-info">
      <div>
        <img src="{{restaurant.image}}" alt="">
      </div>
      <div>
        <h3>{{restaurant.name}}</h3>
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
          <i class="far fa-star"></i>
        </div>
        <a href="/restaurants?categoryId={{restaurant.CategoryId}}" class="category"><i class="fas fa-tag"></i>
          {{restaurant.Category.name}}<a>
            <div class="detail-page-option">
              <div>
                <small>有 <strong>{{restaurant.FavoritedUsers.length}}</strong> 個人收藏</small>
                {{#if isFavorited }}
                <form action="/favorite/{{restaurant.id}}?_method=DELETE" method="POST"><button type="submit" class="remove"><i
                      class="fas fa-heart"></i>Remove</button></form>
                {{else}}
                <form action="/favorite/{{restaurant.id}}" method="POST"><button type="submit" class="save"><i class="far fa-heart"></i>Save</button></form>
                {{/if}}
              </div>

              <div>
                <small>有 <strong>{{restaurant.LikedUsers.length}}</strong> 個人喜歡</small>
                {{#if isLiked }}
                <form action="/like/{{restaurant.id}}?_method=DELETE" method="POST"><button type="submit" class="unlike"><i
                      class="far fa-thumbs-down"></i>Unlike</button></form>
                {{else}}
                <form action="/like/{{restaurant.id}}" method="POST"><button type="submit" class="like"><i class="far fa-thumbs-up"></i>Like</button></form>
                {{/if}}
              </div>


            </div>
      </div>
    </section>

    <section class="more-info">
      <div class="description">
        {{restaurant.description}}
      </div>
      <div class="contact">
        <ul class="list-unstyled">
          <li><i class="far fa-clock"></i> {{restaurant.opening_hours}}</li>
          <li><i class="fas fa-phone"></i> {{restaurant.tel}}</li>
          <li><i class="fas fa-map-marker-alt"></i> {{restaurant.address}}</li>
        </ul>
      </div>

    </section>

    <section class="comments">
      <div class="comments-count">{{restaurant.Comments.length}} 則評論</div>
      <form action="/comments" method="POST">
        <div class="form-group comments-grid">
          <div class="comments-image" style="background-image: url({{currentUser.image}})"></div>
          <input class="form-control comments-area" style="width: -webkit-fill-available;" id="text" name="text"
            placeholder="新增留言..." />
        </div>
        <input type="hidden" name="restaurantId" value="{{restaurant.id}}" />
        <div style="text-align: right;"><button type="submit" class="btn btn-primary">Submit</button></div>

      </form>
      <br />
      <br />
      {{#each restaurant.Comments}}
      {{#if ../currentUser.isAdmin}}
      <form action="/comments/{{this.id}}?_method=DELETE" method="POST" style="float: right;">
        <div><button type="submit" class="btn"><i class="far fa-trash-alt" style="color: red"></i></button></div>

      </form>
      {{/if}}
      <blockquote class="blockquote mb-3 comments-grid">
        <div class="comments-image" style="background-image: url({{this.User.image}})"></div>
        <div class="right">
          <span>
            <a href="/users/{{this.User.id}}">{{this.User.name}}</a>
          </span>
          <span>{{moment this.createdAt}}</span>
          <p>{{this.text}}</p>
        </div>
      </blockquote>
      {{/each}}
    </section>
  </div>


  {{!-- suggestion --}}
  <div class="right-col">
    <ul>

      <li>
        <a href="">
          <img src="" alt="">
          <p></p>
          <span></span>
        </a>
      </li>

    </ul>
  </div>
</div>